.cms {
  display: block;
  position: relative;
  max-width: 1300px;
  min-height: 1008px;
  margin: 0 auto;
  padding: 79px 100px 110px;
}

.cms__container {
  max-width: 1100px;
  min-height: 762px;
}

.cms__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 7px;
  border-bottom: 1px solid var(--light-purple-gray-color);
  margin-bottom: 20px;
}

.cms__header-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--purple-grey-color);
}

.cms__header-result {
  display: flex;
  align-items: end;
  max-width: 230px;
  height: 22px;
}

.cms__result-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: none;
  margin-right: 3px;
  color: var(--purple-grey-color);
}

.cms__result-value {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--purple-blue-color);
}

.cms__wrapper {
  width: 100%;
  height: 762px;
  background: var(--white-color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.cms__subheader {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  gap: 20px;
}

.cms__subheader-setting {
  display: flex;
  flex-basis: 520px;
  gap: 20px;
}

/* Кнопка "Фильтр" */

.cms__subheader-filter-btn {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  width: 108px;
  height: 40px;
  padding: 10px;
  background-color: var(--white-color);
  border: 1px solid var(--light-purple-gray-color);
  border-radius: 6px;
}

.cms__subheader-filter-img {
  width: 20px;
  height: 20px;
}

.cms__subheader-filter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--cobalt-blue-color);
}

/* Строка поиска */

.cms__subheader-search {
  display: flex;
  position: relative;
  flex-basis: 392px;
  height: 40px;
}

.cms__subheader-search-input {
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: var(--magnolia-color);
  padding: 13px 0 12px 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.cms__subheader-search-btn {
  position: absolute;
  left: 2px;
  top: 3px;
  width: 35px;
  height: 35px;
  border: none;
  background-color: var(--magnolia-color);
  border-radius: 6px;
  outline-offset: 2px;
}

.cms__subheader-search-icon {
  width: 20px;
  height: 20px;
}

.cms__subheader-add-goods {
  width: 181px;
  height: 39px;
  color: var(--white-color);
  background: var(--purple-blue-color);
  border: none;
  border-radius: 6px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.cms__table-wrapper {
  min-width: 1100px;
  min-height: 762px;
  overflow-x: auto;
}

.cms__table {
  width: 100%;
  border-collapse: collapse;
}

.cms__table-head {
  height: 45px;
  background-color: var(--magnolia-color);
  border: 2px solid #f56433;
}

.cms__table-raw:not(:last-child) {
}

.cms__table-head-raw {
  border: 0;
  padding: 15px;
  text-align: start;
}
