.modal {
  display: none;
  max-width: 792px;
  min-height: 613px;
  padding: 20px 30px 39px;

  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  background-position: right 30px top 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.modal__btn-close {
  display: block;
  position: absolute;
  text-align: center;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 30px;
  border: none;
  background-image: url("../img/icons/close.svg");
  background-color: var(--smoky-white-color);
  background-position: center;
  background-repeat: no-repeat;
}

.modal__container {
  max-width: 580px;
  /* padding: 0 76px; */
}

.modal__header {
  padding: 12px 0 21px;
  border-bottom: 1px solid var(--light-purple-gray-color);
  margin-bottom: 22px;
}

.modal__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1em;
}

.modal__form {
  max-width: 580px;
  min-height: 403px;
  background: var(--white-color);
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 28px;
  margin-bottom: 28px;
}

.modal__form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 60px);
  gap: 12px 24px;

  grid-template-areas:
    "name description"
    "category description"
    "units count"
    "discount price"
    "file-info file";
}

.modal__form-name {
  grid-area: name;
}

.modal__form-description {
  grid-area: description;
}

.modal__form-category {
  grid-area: category;
}

.modal__form-units {
  grid-area: units;
}

.modal__form-count {
  grid-area: count;
}

.modal__form-discount {
  grid-area: discount;
}

.modal__form-price {
  grid-area: price;
}

.modal__form-file-info {
  grid-area: file-info;
}

.modal__form-file-wrapper {
  grid-area: file;
}

.modal__form-label {
  display: block;
  padding-left: 9px;
  margin-bottom: 5px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.modal__form-input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 6px;
  background: var(--smoky-white-color);
  padding: 0 10px;
}

.modal__form-textarea {
  width: 100%;
  min-height: 112px;
  border: none;
  border-radius: 6px;
  background: var(--smoky-white-color);
  resize: none;
  padding: 5px 10px;
}

.modal__form-checkbox {
  position: relative;
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 15px;
  padding-left: 10px;
  letter-spacing: 0.05em;
}

.modal__form-checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 10px;
}

.modal__form-checkbox-input:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--smoky-white-color);
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease-in-out;
}

.modal__form-checkbox-input:after {
  content: "";
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid var(--black-color);
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
  margin-right: 10px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.modal__form-checkbox-input:focus-visible {
  outline: none;
}

.modal__form-checkbox-input:checked:after {
  opacity: 1;
}

.modal__form-input-small {
  display: block;
  width: calc(100% - 50px);
  height: 40px;
  border: none;
  border-radius: 6px;
  float: right;
  background: var(--smoky-white-color);
  margin-bottom: 12px;
  padding-left: 10px;
}

.modal__form-input-small:disabled {
  background: var(--smoky-white-color);
}

/* Ограничение загрузки изображения */

.modal__form-file-info {
  /* display: none; */
  padding-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--red-color);
  text-align: center;
}

.modal__form-file-wrapper {
  width: 100%;
  position: relative;
  padding-top: 20px;
}

/* Стилизация поля загрузки изображения */

.modal__form-file-label {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--white-color);
  border-radius: 6px;
  background-color: var(--purple-blue-color);
  vertical-align: middle;
  text-align: center;
  padding: 11px 28px;
  padding-left: 28px;
  border: none;
  height: 39px;
}

.modal__form-file-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.modal__btn-add-goods {
  width: 200px;
  height: 39px;
  color: var(--white-color);
  background: var(--purple-blue-color);
  border: none;
  border-radius: 6px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.modal__goods {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  gap: 10px;
}

.modal__goods-cost {
  display: flex;
}

.modal__goods-text {
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: none;
}

.modal__goods-value {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--purple-blue-color);
}

.modal-overlay {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* сообщение об ошибке */

.modal__error {
  display: none;
  width: 350px;
  height: 350px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--smoky-white-color);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

.modal__error-btn-close {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 24px;
  right: 29px;
  border: none;
  background-image: url("../img/icons/close.svg");
  background-color: var(--smoky-white-color);
  background-position: center;
  background-repeat: no-repeat;
}

.modal__error-message {
  padding-top: 106px;
}

.modal__error-img {
  display: block;
  margin: 0 auto 29px;
}

.modal__error-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-align: center;
}

@media (max-width: 768px) {
  .modal__container {
    padding: 0 20px;
  }

  .modal__form-container {
    grid-template-rows: repeat(9, 60px);
    gap: 12px 10px;

    grid-template-areas:
      "name name"
      "category category"
      "description description"
      "description description"
      "units units"
      "count count"
      "price price"
      "discount discount"
      "file-info file";
  }

  .modal__form-file-label {
    font-size: 13px;
    padding: 11px 10px;
  }

  .modal__form-file-info {
    font-size: 12px;
  }
}

@media (max-width: 596px) {
  .modal {
    padding: 20px 20px 39px;
  }

  .modal__container {
    padding: 0 10px;
  }

  .modal__header {
    padding: 12px 0;
    margin-bottom: 18px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 29px;
  }

  .modal__form {
    padding: 20px;
    margin-bottom: 20px;
  }

  .modal__form-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 60px);
    gap: 12px;

    grid-template-areas:
      "name"
      "category"
      "description"
      "description"
      "units"
      "count"
      "price"
      "discount"
      "file"
      "file-info";
  }

  .modal__form-file-label {
    font-size: 10px;
    padding: 11px 5px;
  }

  .modal__form-label,
  .modal__form-checkbox {
    font-size: 10px;
    line-height: 12px;
  }

  .modal__form-file-info {
    font-size: 10px;
    line-height: 12px;
  }

  .modal__btn-add-goods {
    font-size: 14px;
  }

  .modal__goods {
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .modal__goods-text {
    font-size: 12px;
    line-height: 17px;
    text-transform: none;
  }

  .modal__goods-value {
    font-size: 16px;
    line-height: 22px;
    color: var(--purple-blue-color);
  }

  .modal__error {
    display: none;
    width: 280px;
    height: 280px;
  }

  .modal__error-btn-close {
    top: 20px;
    right: 20px;
  }

  .modal__error-message {
    padding-top: 100px;
  }

  .modal__error-img {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }

  .modal__error-text {
    font-size: 14px;
  }
}
