:root {
  --white-color:#ffffff;
  --black-color: #000000;
  --purple-gray-color: #6E6893;
  --light-purple-gray-color:#C6C2DE;
  --purple-blue-color: #6D5BD0;
  --smoky-white-color: #F2F0F9;
  --red-color: #D80101;
}